@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="container">
    <div class="row">
        <div class="col-12">
            <div id="dettagli-pizza"></div>
        </div>
    </div>
</div>

@section Scripts {

    <script type="text/javascript">

        const id = window.location.href.substring(window.location.href.lastIndexOf('/') + 1);

        axios.get(`/api/Pizzas/GetDettagli/${id}`).then((res) => {
            
            var pizza = res.data;
            console.log("risultato ok", pizza);

            document.getElementById("dettagli-pizza").innerHTML +=
                `
                    <div class="mb-3">
                        <h1>Dettagli della pizza </h1>
                        <p class="fw-bolder"> Nome Pizza: </p>
                        <p class="fw-light"> ${pizza.name}</p>
                        <p class="fw-bolder"> Descrizione Pizza: </p>
                        <p class="fw-light"> ${pizza.description}</p>
                        <p class="fw-bolder"> Foto Pizza: </p>
                        <img src="${pizza.image}" class="img-fluid" alt="${pizza.name}" width="300px" height="300px">
                        <p class="fw-bolder"> Prezzo Pizza: </p>
                        <p class="fw-light"> ${pizza.price} €</p>
                    </div>
                `          
        });

    </script>
}