@{
    ViewData["Title"] = "Home Page";
}

@*
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
*@

<div class="text-center">
    <h1>Benvenuto nella Mia Pizzeria!</h1>
    <div class="m-5">
        <h4>PIZZA: Una storia millenaria e una tradizione tutta italiana conosciuta in ogni angolo del mondo.<hr> 
            La pizza è davvero uno dei simboli più importanti del nostro Paese in tutto il mondo. <br>
            E la sua è una favola che affonda le radici lontanissime.
        </h4> 
    </div>
</div>
<h5 class="mb-0 mx-2">Per accedere al menù premi qui: <a class="text-primary fs-4 mx-2" asp-area="" asp-controller="Pizza" asp-action="Index"><u>Menù delle Pizze</u></a></h5>