@{
    ViewData["Title"] = "Home Page";
}

@*
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
*@

<div class="text-center">
    <h1>Benvenuto nella Mia Pizzeria!</h1>
    <div class="m-5">
        <h4>PIZZA: Una storia millenaria e una tradizione tutta italiana conosciuta in ogni angolo del mondo.<hr> 
            La pizza è davvero uno dei simboli più importanti del nostro Paese in tutto il mondo. <br>
            E la sua è una favola che affonda le radici lontanissime.
        </h4> 
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="d-flex justify-content-between align-items-center">
                <h1 class="mt-3 mb-3">Lista pizze</h1>
                <div class="input-group-lg mt-3 mb-3">
                    <input id="input-ricerca" type="text" class="form-control" placeholder="Cerca la pizza...">
                </div>
            </div>
        </div>
    </div>

    <div id="spinner" class="text-center">
        <h4>Caricamento...</h4>
        <div class="spinner-border" role="status" style="width: 3rem; height: 3rem;"></div>
    </div>

    <div id="no_pizza" class="row text-center d-none">
        <div class="col-12">
            <h3>Non sono presenti pizze</h3>
        </div>
    </div>
    <div id="lista_pizza" class="row d-none">

    </div>
</div>

<h5 class="mb-0 mx-2">Per accedere al menù premi qui: <a class="text-primary fs-4 mx-2" asp-area="" asp-controller="Pizza" asp-action="Index"><u>Menù delle Pizze</u></a></h5>


@section Scripts {

    <script type="text/javascript">

        CaricaListaPizze();

        document.getElementById("input-ricerca").addEventListener("keyup", ricercaPizza);

        function ricercaPizza(){
            var valoreDiRicerca = document.getElementById("input-ricerca").value;
            CaricaListaPizze(valoreDiRicerca);
        }

        function CaricaListaPizze(ricercaStringa) {

            axios.get("/api/Pizzas/Get", {
                params: {
                    ricerca: ricercaStringa
                }
            }
            ).then((res) => {

                console.log("risultato ok", res);

                if (res.data.length == 0) 
                {
                    document.getElementById("no_pizza").classList.remove("d-none");
                    document.getElementById("lista_pizza").classList.add("d-none");
                } 
                else 
                {
                    document.getElementById("lista_pizza").classList.remove("d-none");
                    document.getElementById("no_pizza").classList.add("d-none");

                    document.getElementById("lista_pizza").innerHTML = '';

                    res.data.forEach(pizza => {

                        console.log("pizza", pizza);

                        document.getElementById("lista_pizza").innerHTML +=
                            `
                                <div class="col-12 col-md-4 p-2">
                                    <div class="card mb-3">
                                        <img src="${pizza.image}" class="card-img-top" alt="..." width="300px" height="300px">
                                        <div class="card-body">
                                            <a href="/Home/Dettagli/${pizza.id}">
                                                <h5 class="card-title">${pizza.name}</h5>
                                            </a>
                                            <p class="card-text">${pizza.description}</p>
                                        </div>
                                    </div>
                                </div>
                            `;
                    });
                }
                document.getElementById("spinner").classList.add("d-none");
            }).catch((error) => {
                console.log(error);
            });

        }

    </script>

}
